
.menuDiv {
    background-color: #111;
}
  /* Style the menuDiv links and the dropdown button */
.menuDiv a, .dropdown-btn {
    color: #818181;
}
  /* On mouse-over */
.menuDiv a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}
/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}
/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  background-color: #262626;
}